nav{
    color: #ddd;
}
main{
    padding-inline: 10px;
}
form{
    max-width: 700px;
    margin-inline: auto;
    margin-block: 20px;
}
.btn {
    margin-top: 10px;
}
/* 
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}



.table {
    width: 100%;
    margin-block: 20px;
    border-collapse: collapse;
}

.table, .table th, .table td {
    border: 1px solid #ddd;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
}

.alert {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    margin-bottom: 15px;
}
.btn{
    color:#fff;
    border:none;
    
}
.alert-danger,.btn-danger{
    background-color: red;
}
.btn-success{
    background-color: #4caf50;
}
.btn-primary{
    background-color: rgb(89, 89, 255);
}
.search-box{
    max-width: 300px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
.filter-box{
    max-width: 300px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
.text-danger{
    color: red;
    font-size: 14px;
} */
.search-box,.filter-box{
    float:right;
    display: flex;
    align-items:center;
    justify-content: center;
}